.chapter(data-file='src/empty.txt', data-title='Nim Tuto')

  .step(data-title='Welcome')
    :markdown
      # Nim Tutorial !

      ![welcome](img/cat-butterfly.jpg)



  .step(data-file='src/hello.nim', data-highlight='1', data-title='Hello World')
    :markdown
      # Hello World

      ---

      ### ES

      Bienvenidas al Tutorial de [Nim](https://nim-lang.org)!.

      Este es un tutorial HTML bilingue autoguiado paso-a-paso para aprender a programar en Nim.

      Este tutorial asume que ya tenes [Nim instalado en tu computadora](https://nim-lang.org/install.html)
      sino puedes [probar Nim desde el navegador](https://play.nim-lang.org).

      ![play nim](img/nim-play.png "Hello World corriendo en Nim Play desde el navegador")

      Como todo tutorial empieza con un "Hola Mundo", `echo` imprime los argumentos a la salida estandard,
      puedes ejecutar `nim c -r hello.nim` para mostrar el mensaje `"Hello World"` en la terminal.

      - Clickea la flecha derecha para avanzar.
      - Clickea la flecha izquierda para retroceder.
      - Clickea la hamburguesa para mostrar el Menu.

      ---

      ### EN

      Welcome to the [Nim](https://nim-lang.org) Tutorial!.

      This is a self-guided step-by-step bilingual HTML tutorial to learn Nim programming.

      This tutorial assumes that you already have [Nim installed on your computer](https://nim-lang.org/install.html)
      else you can [try Nim from the browser](https://play.nim-lang.org).

      ![play nim](img/nim-play.png "Hello World running on Nim Play from the browser")

      Like all tutorials it starts with a "Hello World",
      `echo` prints the arguments to the standard output,
      you can execute `nim c -r hello.nim` to show the message `"Hello World"` on the terminal.

      - Click the right arrow to advance.
      - Click the left arrow to go backwards.
      - Click the Hamburguer to show the Menu.



  .step(data-file='src/assign_variable.nim', data-title='Variables')
    :markdown
      # Variables

      ---

      ### ES

      Puedes controlar la Inmutabilidad de las variables usando `var`, `let` y `const`.
      Intentar modificar una variable inmmutable devolvera un error como es de esperarse.
      2 underscores seguidos continuos `__` en los nombes no esta permitidos.

      - `var` Mutable.
      - `let` Inmutable.
      - `const` Inmutable (Evaluado en tiempo de compilacion).

      *Si se te complica podes usar `var` en todos lados!.*

      ---

      ### EN

      You can control the immutability of variables using `var`, `let` and `const`.
      Trying to modify an inmmutable variable will return an error as expected.
      2 immediate following underscores `__` on names are not allowed.

      - `var` Mutable.
      - `let` Inmutable.
      - `const` Inmutable (Evaluated at compile time).

      *If you get complicated you can use `var` everywhere!.*



  .step(data-file='src/comments.nim', data-title='Comments')
    :markdown
      # Comments

      ---

      ### ES

      Comentarios de codigo empiezan con `#` o `##`.

      - `#` Comentario, Ignorado por Nim.
      - `##` Comentario DocString, usado para generar Auto-Documentacion.

      Los Comentarios DocString pueden ser agregados en cualquier lado en el codigo.

      Los Comentarios DocString seran parseados como [ReStructuredText](https://es.wikipedia.org/wiki/ReStructuredText) o Texto plano.

      ---

      ### EN

      Code comments start with `#` or `##`.

      - `#` Comment, Ignored by Nim.
      - `##` DocString Comment, used for Self-Documentation.

      The DocString Comments can be added anywhere on the code.

      The DocString Comments will be parsed as [ReStructuredText](https://en.wikipedia.org/wiki/ReStructuredText) or plain Text.



  .step(data-file='src/basic_types_boolean.nim', data-title='Boolean')
    :markdown
      # Booleans

      ---

      ### ES

      Tipo Booleano, representa verdadero o falso.

      - `true` Verdadero.
      - `false` Falso.
      - `bool()` se usa para evaluar un argumento a Booleano.

      ---

      ### EN

      Boolean type, represents true or false.

      - `true` True.
      - `false` False.
      - `bool()` used to evaluate an argument to a Boolean.



  .step(data-file='src/basic_types_string.nim', data-title='String & Char')
    :markdown
      # Strings & Chars

      ---

      ### ES

      ##### String

      Tipo String, representa una cadena de caracteres de texto.

      Puede soportar Unicode, UTF-8, Emoji, y otros caracteres raros.

      - `""` es el constructor del tipo `string`.

      ##### Char

      Tipo Char, representa un caracter de texto, solo 1.

      Puede soportar ASCII solamente, no puede estar vacio.

      Internamente `char` esta optimizado a un numero entero, por lo que es muy rapido y liviano.

      - `' '` es el constructor del tipo `char`.

      ---

      ### EN

      ##### String

      String type, represents a sequence of text characters.

      It can support Unicode, UTF-8, Emoji, and other weird characters.

      - `""` is the constructor of the `string` type.

      ##### Char

      Char type, represents one text character, just 1.

      It can support ASCII only, it can not be empty.

      Internally `char` its optimized to an integer number, so its fast and lightweight.

      - `' '` its the constructor of the `char` type.



  .step(data-file='src/basic_types_integers.nim', data-title='Integers')
    :markdown
      # Integers

      ---

      ### ES

      Tipo Entero, representa un numero entero, positivo o negativo.

      Existen varias medidas de enteros y una medida de entero por defecto,
      dependiendo de cuantos bits se usa para representarlos internamente,
      los enteros chicos usan menos menos recursos y son mas rapidos,
      los enteros grandes pueden acomodar numeros mucho mas grandes,
      `_` es ignorado y es util para formatear de manera amigable un numero largo.

      - Literal siempre genera un `int`.
      - `int` es `int64` en CPU de 64bits, es `int32` en CPU de 32bits.
      - `int8` desde `-128` hasta `127`.
      - `int16` desde `-32768` hasta `32767`.
      - `int32` desde `-2147483648` hasta `2147483647`.
      - `int64` desde `-9223372036854775808` hasta `9223372036854775807`.

      *Si se te complica, podes usar `int` para todo!.*

      ---

      ### EN

      Integer type, represents an integer number, positive o negative.

      Theres multiple sizes of integers and one default integer size,
      they depend on how many it they use to be represented internally,
      the smaller integers use less resources and they are faster,
      the bigger integer can hold bigger integer numbers.,
      `_` is ignored and is useful for human-friendly formatting for long numbers.

      - Literals always generate an `int`.
      - `int` is `int64` on 64bits CPU, `int32` on 32bits CPU.
      - `int8` from `-128` to `127`.
      - `int16` from `-32768` to `32767`.
      - `int32` from `-2147483648` to `2147483647`.
      - `int64` from `-9223372036854775808` to `9223372036854775807`.

      *If you get complicated, you can use `int` for everything!.*



  .step(data-file='src/basic_types_floats.nim', data-title='Floats')
    :markdown
      # Floats

      ---

      ### ES

      Tipo Flotante, representa un numero de punto flotante, positivo o negativo.

      Existen 2 medidas de flotantes y una medida de flotante por defecto,
      dependiendo de cuantos bits se usa para representarlos internamente,
      el flotante chico usa menos recursos y es mas rapido,
      el flotante grande pueden acomodar numeros mucho mas grandes.

      - Literal siempre genera un `float`.
      - `float` es `float64`.

      *Si se te complica, podes usar `float` para todo!.*

      ---

      ### EN

      Float type, represents an floating point number, positive o negative.

      Theres 2 sizes of floats  and one default float size,
      they depend on how many bits they use to be represented internally,
      the smaller float use less resources and is faster,
      the bigger float can hold bigger floating point numbers.

      - Literals always generate an `float`.
      - `float` is `float64`.

      *If you get complicated, you can use `float` for everything!.*



  .step(data-file='src/basic_types_tuples.nim', data-title='Tuples')
    :markdown
      # Tuples

      ---

      ### ES

      Tipo Tupla, representa una secuencia de objetos ordenados por un numero de indice,
      es inmutable, de solo lectura, cada item tiene un nombre.

      En Nim la Tupla tiene items nombrados, puede accederse a los items por indice o por nombre,
      si se omiten los nombres de los items Nim usara `field0`, `field1`, `field2`, `field3`, etc.

      Es muy similar a la `NamedTuple` del lenguaje de programacion Python.

      Las tuplas pueden tener tuplas dentro.

      La tupla se puede usar de manera simple, solo construyendola con los items `(1, 2, 3)` o
      puede usarse declarando previamente un tipo:

      `type NombreDeLaTupla = tuple[nombre: tipo, nombre: tipo]`

      ---

      ### EN

      Tuple type, represents an sequence of objects ordered by an index number,
      its inmmutable, kinda read-only, each item has a name.

      On Nim the tuple has named items, can be accessed by index or by name,nombre: tipo,
      if the items names are omitted Nim will use `field0`, `field1`, `field2`, `field3`, etc.

      Its very similar to Pythons programming language `NamedTuple`.

      Tuples can contain tuples inside.

      The tuple can be used on a simple way, just constructing it with the items `(1, 2, 3)` or
      can be used declaring a tuple type:

      `type TupleName = tuple[name: type, name: type]`



  .step(data-file='src/basic_types_array.nim', data-title='Arrays & Seqs')
    :markdown
      # Arrays & Seqs

      ---

      ### ES

      ##### Array

      Tipo Array, representa una secuencia de longuitud fija de objetos del mismo
      tipo ordenados por un numero de indice, es mutable,
      sus items se pueden cambiar, no puede crecer o reducir su longuitud total,
      devolvera error si se intenta expandir agregando mas items,
      devolvera error si se intenta reducir sacandole items.

      Los arrays pueden tener items de muchos tipos dentro, incluido
      object, char, string, float, bool, tuple, array, set, seq, etc.

      ##### Seq

      Tipo Seq, representa una secuencia de longuitud variable de objetos del mismo
      tipo ordenados por un numero de indice, es mutable,
      sus items se pueden cambiar, puede crecer o reducir su longuitud total,
      se puede expandir agregando mas items y reducir sacandole items.

      Los seq pueden tener items de muchos tipos dentro, incluido
      object, char, string, float, bool, tuple, array, set, seq, etc.

      El seq se puede usar de manera simple solo construyendolo con los items `@[1, 2, 3]`,
      el constructor es el literal `@[]`, o puede usarse declarando previamente:

      `var some_seq = seq[int]` int is the tipo de los items.

      ---

      ### EN

      ##### Array

      Array type, represents a sequence of fixed lenght of objects of
      the same type ordered by an index number, its mutable,
      its items can change, it can not grow or shrink its total lenght,
      will return error if try to expand adding more items,
      will return error if try to shrink taking items.

      Arrays can have items of several types inside, incluiding
      object, char, string, float, bool, tuple, array, set, seq, etc.

      ##### Seq

      Seq type, represents a sequence of variable lenght of objects of
      the same type ordered by an index number, its mutable,
      its items can change, it can grow and shrink its total lenght,
      it can expand adding more items and shrink taking items.

      Arrays can have items of several types inside, incluiding
      object, char, string, float, bool, tuple, array, set, seq, etc.

      Seq can be used on a simple way just constructing it with the items `@[1, 2, 3]`,
      the constructor is the literal `@[]`, or can be used declaring previously:

      `var some_seq = seq[int]` int its the type of the items.



  .step(data-file='src/basic_types_subranges.nim', data-title='Subrange')
    :markdown
      # Subranges

      ---

      ### ES

      Tipo Subrange, representa un rango limitado fijo de items de un tipo especifico,
      por ejemplo numeros enteros, si se usa un valor fuera de los limites produce un error.

      Pensalo como un tipo ordinal primitivo con limites Maximos y Minimos.

      ---

      ### EN

      Subrange type, represents a fixed limited range of items of an specific type,
      eg integer numbers, if a value out of the limits is used it produces an error.

      Think about it like a primitive ordinal type with Maximum and Minimum limits.






  .step(data-file='src/empty.txt', data-title='Subrange')
    :markdown
      # Flow Control

      ![Flow]()



  .step(data-file='src/empty.txt', data-title='End')
    :markdown
      # End

      ---

      **The end of this tutorial, the start of a new hacking adventure...**

      ![cat tax](img/stackoverflow-copypaste.jpg "Happy Hacking!")

      ##### Links

      - [Nim Homepage](https://nim-lang.org).
      - [Nimble](https://nimble.directory).
      - [Nim Twitter (EN)](https://twitter.com/nim_lang).
      - [Nim Twitter (ES)](https://twitter.com/nim_ar).
      - [Nim Telegram (EN)](https://t.me/nim_lang).
      - [Nim Telegram (ES)](https://t.me/NimArgentina).
      - [Nim Telegram StickerPack](https://t.me/addstickers/nimlang).
      - [Nim GitHub](https://github.com/nim-lang).
      - [Nim Forum](https://forum.nim-lang.org).
      - [Nim StackOverflow](https://stackoverflow.com/questions/tagged/nim).
      - [Nim DevDocs](http://devdocs.io/nim).
      - [Nim Rosetta](http://rosettacode.org/wiki/Category:Nim).
      - [Awesome Nim](https://github.com/VPashkov/awesome-nim).
      - [Nim Tuto](https://github.com/juancarlospaco/nim-tuto#nim-tuto).

      An idea of [Juan Carlos](https://twitter.com/juancarlospaco) from [Argentina](https://www.openstreetmap.org/relation/286393).

      [Creative Commons Attribution-NonCommercial-ShareAlike CC-BY-NC-SA 4.0+](https://creativecommons.org/licenses/by-nc-sa/4.0/)
